* {
    font-family: Ubuntu, sans-serif;
    scroll-behavior: smooth;
}

#logo {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

#title {
    text-align: center;
    margin: 0px;
}

#title-subtitle {
    color: #696969;
    margin: 0px;
    text-align: center;
}

.flex-item {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 35px;
    justify-content: space-around;
    align-content: center;
    padding-left: 20px;
    background-color: lightgray;
    margin: 2px;
}

.flex-item b {
    position: absolute;
    right: 20px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#cv {
    height: 50vh;
}

#portfolio {
    height: 90vh;
}

#skills {
    height: 33vh;
}

#contact {
    height: 50vh;
}

.section-title {
    text-align: center;
    color: #494949;
    border-bottom: 1px gray solid;
    padding-bottom: 10px;
}

ul i {
    color: #696969;
}

section img {
    width: 80%;
    max-width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cvlink {
    font-weight: bold;
}

#bodylink {
    display: block;
    text-align: center;
    font-weight: bold;
}

p {
    font-weight: bold;
    text-align: center;
    padding: 0px 0px 20px 0px;
    color: #696969;
}

.skillsbar {
    height: 9px;
    border: 1px #696969 solid;
    border-radius: 10px;
    margin: 0px;
}

h3.skilltitle {
    margin: 15px 0px 3px 0px;
    color: #696969;
}

#line-one {
    height: 9px;
    width: 65%;
    background-color: dodgerblue;
    border-radius: 9px;
}

#line-two {
    height: 9px;
    width: 85%;
    background-color: dodgerblue;
    border-radius: 9px;
}

#line-three {
    height: 9px;
    width: 45%;
    background-color: dodgerblue;
    border-radius: 9px;
}

.fab {
    vertical-align: middle;
    margin: 3px 20px 5px 10px;
    color: dodgerblue;
    font-size: 38px;
}

.fas {
    vertical-align: middle;
    margin: 3px 20px 5px 10px;
    color: dodgerblue;
    font-size: 38px;
}

.sm {
    margin: 0px;
    font-size: 18px;
    color: #696969;
}

h4 {
    color: #696969;
}